footer{
  background-color: $highlight;
  color: $white;
  padding: 20px 10px 10px;

  h3{
    font-size: 16px;
    font-weight: bold;
  }

  .footer-links{

    table{
      tr {
        td{
          vertical-align: top;

          &:first-child{
            padding-right: 10px;
          }
        }
      }
    }

    a{
      color: $white;
      display: block;

      &:first-child{
        margin-left: 0;
      }

      &:hover{
        color: $highlight;
      }
    }
  }

  .social-media{
    float: right;

    div{
      display: flex;

      a{
        color: $white;
        font-size: 0;
        margin-right: 10px;

        &:before{
          font-size: 25px;
          transition: color 0.35s ease-in-out;
        }

        &.facebook{
          background-image: url(../img/facebook.png);
          background-size: 100%;
          display: block;
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}