footer{
  background-color: $black;
  color: $white;
  padding: 10px;

  .footer-links{
    display: flex;

    a{
      color: $white;
      margin-left: 20px;

      &:first-child{
        margin-left: 0;
      }

      &:hover{
        color: $highlight;
      }
    }
  }

  .social-media{
    float: right;

    a{
      color: $white;
      font-size: 0;

      &:before{
        font-size: 20px;
        transition: color 0.35s ease-in-out;
      }

      &:hover:before{
        color: $highlight;
      }
    }
  }
}