footer{
  background-color: $highlight;
  color: $white;
  padding: 20px 10px 10px;

  @include grid-media-query('before-mobile'){
    text-align: center;
  }

  h3{
    font-size: 16px;
    font-weight: bold;
  }

  .footer-links{

    .table-wrapper{
      @include grid-media-query('before-mobile'){
        display: flex;
        justify-content: center;
      }

      table{
        tr {
          td{
            vertical-align: top;

            &:first-child{
              padding-right: 10px;
            }
          }
        }
      }
    }


    a{
      color: $white;
      display: block;

      &:first-child{
        margin-left: 0;
      }

      &:hover{
        color: $white;
      }
    }
  }

  .social-media{
    float: right;

    @include grid-media-query('before-mobile'){
      float: none;
    }

    div{
      display: flex;

      @include grid-media-query('before-mobile'){
        justify-content: center;
      }

      a{
        color: $white;
        font-size: 0;
        margin-right: 10px;

        &:before{
          font-size: 25px;
          transition: color 0.35s ease-in-out;
        }

        &.facebook{
          background-image: url(../img/facebook.png);
          background-size: 100%;
          display: block;
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}