// Typography
body {
  @include body-font;
  color: $textcolor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  position: relative;

  &.underline-headline {
    display: inline-block;
    margin-bottom: 25px;
    padding-bottom: 10px;

    &:after {
      background-color: $textcolor;
      bottom: 0;
      content: "";
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 80%;
    }
  }
}

//Grid Override
.container {
  @media  (max-width: 1139px) {
    max-width: 100% !important;
  }

  @media (min-width: 1140px) {
    max-width: 1140px;
  }
}

// Margin Top for Pages except Home
.blog-overview,
.blog-post,
.contact {
  margin-top: 124px;

  @include grid-media-query('before-tablet'){
    margin-top: 155px;
  }
}

// Standard Elements

section {
  padding: 3rem 0;

  &.grey-background {
    background-color: $basic-grey;
  }
}

a {
  color: $textcolor;
  transition: color 0.35s ease-in-out;

  &:hover {
    color: $highlight;
    text-decoration: none;
  }
}

ul.floating {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  border-radius: 0;
  font-size: 11px;
  letter-spacing: 2px;
  outline: 0;
  padding: 8px 37px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;

  &:active,
  &:focus {
    box-shadow: none;
    outline: 0;
  }

  &.btn-primary {
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: #fff;
    background: transparent;

    &:hover {
      background-color: $highlight;
      border-color: $highlight;
    }
  }

  &.btn-secondary {
    background-color: $highlight;
    border-color: $highlight;

    &:hover {
      background-color: $white;
      color: $highlight;
    }
  }
}

//Google Maps
.google-map {
  height: 500px;
  width: 100%;

  .fa-map-marker {
    left: -37px;
    position: relative;
    top: -50px;

    &:before {
      color: #EA4335;
      font-size: 50px;
    }

    &:after {
      background-color: #822D28;
      border-radius: 50%;
      content: "";
      display: block;
      height: 20px;
      left: 9px;
      position: absolute;
      top: 10px;
      width: 20px;
      z-index: 5;
    }
  }
}

