// Typography
body {
  @include body-font;
  color: $textcolor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

//Grid Override
.container{
  @media (min-width: 1200px){
     max-width: 1200px;
  }
}

// Margin Top for Pages except Home
.blog-overview,
.blog-post,
.contact{
  margin-top: 124px;
}

// Standard Elements

section{
  padding: 5rem 0;

  &.grey-background{
    background-color: $basic-grey;
  }
}

a{
  color: $textcolor;
  transition: color 0.35s ease-in-out;

  &:hover{
    color: $highlight;
    text-decoration: none;
  }
}

ul.floating{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.btn{
  border-radius: 0;
  font-size: 11px;
  letter-spacing: 2px;
  outline: 0;
  padding: 8px 37px;
  text-transform: uppercase;

  &:active,
  &:focus{
    outline: 0;
  }

  &.btn-primary{
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: #fff;
    background: transparent;

    &:hover{
      background-color: white;
      border-color: $white;
      color: $black;
    }
  }
}


//Google Maps
.google-map{
  height: 500px;
  width: 100%;

  .fa-map-marker{
    left: -37px;
    position: relative;
    top: -50px;

    &:before{
      color: #EA4335;
      font-size: 50px;
    }
  }
}

