header {
  background-color: $highlight;
  color: $white;
  letter-spacing: 3px;
  padding-bottom: 25px;
  padding-top: 25px;
  position: fixed;
  text-transform: uppercase;
  transition: background-color 0.35s ease-in-out, padding 0.35s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 9999;

  &.home,
  &.about{
    background-color: transparent;

    .header-bottom {
      .col {
        .main-navigation {
          li {
            a {
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }
  }

  &.navbar-shrink.home,
  &.navbar-shrink.about{
    background-color: $highlight;
    padding: 15px 0;

    .header-bottom {
      .col {
        .main-navigation {
          li {
            a {
              color: $white;
            }
          }
        }
      }
    }
  }

  .header-bottom {

    .col {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .logo-wrapper {
        position: relative;
        width: 250px;

        @include grid-media-query('before-tablet'){
          padding: 15px 0 16px;
        }

        a {
          color: $white;

          &:hover {
            color: $white;
          }

          #logo {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px;
            z-index: 2;

            img {
              height: 60px;
              width: 60px;
            }

            h1 {
              font-size: 22px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 4px;
              margin-bottom: 0;
              text-align: center;
            }

            span {
              display: block;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 6px;
            }
          }
        }
      }

      .main-navigation {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        height: 100%;

        &.open{
          ul{
            @include grid-media-query('before-tablet'){
              display: block;
            }
          }

          .menu-toggle{
            display: none;
          }

          .close{
            display: block;
          }
        }

        .menu-toggle{
          cursor: pointer;
          display: none;
          font-size: 0;

          @include grid-media-query('before-tablet'){
            display: block;
          }

          &:before{
            font-size: 30px;
          }
        }

        .close{
          cursor: pointer;
          display: none;
          font-size: 0;

          &:before{
            font-size: 30px;
          }
        }

        ul{

          @include grid-media-query('before-tablet'){
            display: none;
          }

          li {

            a {
              border-bottom: 2px solid transparent;
              color: $white;
              font-size: 14px;
              padding-bottom: 4px;
              transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;

              @include grid-media-query('tablet'){
                &:hover {
                  border-color: $white;
                  color: $white;
                }
              }
            }
          }
        }
      }

      .mail {
        font-size: 18px;
        margin-left: auto;
      }
    }
  }
}