@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

@mixin body-font() {
  font-family: 'Roboto Condensed', sans-serif;
}

@mixin heading-font() {
  font-weight: 500;
  font-family: 'Montserrat';
}

@mixin serif-font() {
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
}
