@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');

@mixin body-font() {
  font-family: 'Lato';
}

@mixin heading-font() {
  font-weight: 500;
  font-family: 'Montserrat';
}

@mixin heading-font() {
  font-weight: 500;
  font-size: 60px;
  line-height: 80px;
}
