#stage{

  .stage-wrapper{
    position: relative;

    &:after{
      background-color: rgba(0, 0, 0, 0.3);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    img{
      max-width: 100%;
    }

    .overlay-text{
      bottom: 30%;
      left: 15%;
      max-width: 700px;
      position: absolute;
      z-index: 5;

      h2{
        color: $white;
        @include heading-font;
        font-size: 68px;
        font-weight: 600;
        line-height: 74px;
      }

      .lead{
        color: $white;
      }
    }
  }
}